@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.gradient_background {
  background-image: url(/gradient_background.svg);
  height: 1200px;
  width: 1400px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute !important;
  top: -250px;
  right: -400px;
}